extends cargotempl

block variables
    -var title = 'Грузовые автомобили'
block firstcard 
   .image-giga
        img(src='https://s.alicdn.com/@sc04/kf/UTB8cktrnT_IXKJkSalUq6yBzVXa4.jpg')
block contentgiga
    .content-blockg
        p ISUZU GIGA. В 1994 году на смену модели Isuzu 810 пришла модель Isuzu Giga первого поколения. В сравнении с предшественником, модель получила новые кабину и оснащения.В 2007 году Isuzu Giga модернизировали, изменив внешний вид, в частности, решётку радиатора. В 2010 году модель получила новые фары, бамперы и решётку радиатора. Дополнительный стальной бампер защищает поддон картера и навесные агрегаты. Двигатели соответствуют стандарту Евро-5.
block secondcard
    .image-hino
        img(src='img/hino.jpg')
block contenthino
    .content-blockg
        p HINO. Семейство грузовиков Dutro Hybrid с гибридной силовой установкой впервые было представлено в ноябре 2003 года. На грузовиках установлен дизельный двигатель мощностью 100 кВт = 134 л. с., с моментом 353 Нм. Электродвигатель 36 кВт, с моментом 350 Нм. Никель-металл-гидридные (NiMH) аккумуляторы 228 В. Потребление топлива около 10 л/100 км. Грузоподъёмность 2—4 тонн.В 2006 году в Японии было продано около 1000 Dutro Hybrid. В 2007 году начались продажи гибридных грузовиков в Австралии. К началу 2011 года компания продала 10 тысяч гибридных грузовиков. В августе 2011 года начнутся продажи гибридных грузовых автомобилей в Северной Америке.